%section{data: {"background" => "vendor/eth-reveal-theme/images/eth-sls-background.jpg", "background-size" => "100%", "background-position" => "bottom"}}
  %h3 Dark field of lung microstructures from synchrotron micro CT to a table top setup

%section
  %h3 From monochromatic beam and single sizes to a lung model
  %p \(B = v / v_0 = \exp (-\mu_B t)\)
  %p
    Sample made of identical spheres of the same material
    \\(\mu_B(r, E; n, f)\) studied in recent literature:
    %ul
      %li \(r\) radius of the spheres
      %li \(E\) beam energy
      %li \(n\) refractive index
      %li \(f\) volume fraction occupied by the spheres

%section
  %h3 Literature links
  %ul
    %li
      Yashiro et al. (2010)
      %a{href: "https://www.osapublishing.org/DirectPDFAccess/A0363674-F879-4C08-273C71BACAE46C0C_204086/oe-18-16-16890.pdf?da=1&id=204086&seq=0&mobile=no"} On the origin of visibility contrast in x-ray Talbot interferometry
    %li
      Lynch et al. (2011)
      %a{href: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3407965/"} Interpretation of dark-field contrast and particle-size selectivity in grating interferometers
    %li
      Gkoumas et al. (2016)
      %a{href: "https://www.nature.com/articles/srep35259"} A generalized quantitative interpretation of dark-field contrast for highly concentrated microsphere suspensions
  %p
    we used the latest for which we have the
    %a{href: "https://github.com/Enucatl/structure-factors/blob/master/structure_factors/saxs.py"} code


%section
  %h3 Polychromatic extension
  %p
    \\[
    \\mu_B = \int_{\text{radii}}\int_{\text{energies}} \mu(r, E; n, f)\rho(r)s(E)\mathop{dr}\mathop{dE}
    \\]
  %table
    %thead
      %tr
        %th input
        %th description
        %th source
    %tbody
      %tr
        %td \(s(E)\)
        %td source spectrum
        %td simulation
      %tr 
        %td \(n\)
        %td refractive index
        %td NIST database
      %tr 
        %td \(f\)
        %td volume fraction occupied by spheres
        %td microtomography
      %tr
        %td \(\rho(r)\)
        %td distribution of sphere sizes
        %td microtomography

%section
  %h3 Consistency check: integrating over energies only
  .col-md-3
    %p
  .col-md-6
    = tag :img, src: "https://github.com/Enucatl/microspheres/raw/master/data/summary.png"

%section
  %h3 Estimating \(n\) and \(f\)
  %ul
    %li 
      \\(n\):
      %a{href: "https://physics.nist.gov/PhysRefData/XrayMassCoef/tab2.html"} NIST database
      with density matching beamline absorption at 12 keV
    %li
      \\(f\): pixel counting in the segmented image

%section
  %h3 From lung microstructures to sphere distributions
  .col-md-12
    = image_tag "smoke_stitched.png", style: "width: 60%"

%section
  %h3 Technical challenges
  %ul
    %li datasets with 2540x2160x6000 pixels
    %li fiji implementation has excessive requirements on both memory and processing time

%section
  %h3 Complete rewrite 
  %ul
    %li C and C++ with python bindings
    %li
      %a{href: "https://bitbucket.org/gnudo/fast-thickmap"} code (with Goran and Arttu)
    %li eliminate empty spaces outside of the sample
    %li ignore airways larger than 100 μm
    %li process spheres from the largest to the smallest, drastically reducing cpu cycles
    %li split volume into several subvolumes for a smaller memory footprint
    %li used all hardware resources: gws-3, gws-4 and RA cluster

%section
  %h3 Polychromatic extension
  %p
    \\[
    \\mu_B = \int_{\text{radii}}\int_{\text{energies}} \mu(r, E; n, f)\rho(r)s(E)\mathop{dr}\mathop{dE}
    \\]
  %table
    %thead
      %tr
        %th input
        %th description
        %th source
    %tbody
      %tr
        %td \(s(E)\)
        %td source spectrum
        %td simulation
      %tr 
        %td \(n\)
        %td refractive index
        %td NIST database
      %tr 
        %td \(f\)
        %td volume fraction occupied by spheres
        %td microtomography
      %tr
        %td \(\rho(r)\)
        %td distribution of sphere sizes
        %td microtomography


%section
  %h3 Results
  .col-md-1
    %p
  .col-md-9
    = tag :img, src: "https://raw.githubusercontent.com/Enucatl/compare-lungs-theory/master/samples.png"

%section
  %h3 Thank you for your attention

%section
  %h3 Backup

%section
  %h3 Previous progress report
  %a{href: "https://enucatl-presentations.github.io/2017.09.26.progress.report/"}

%section
  %h3 Microtomography and postprocessing
  %ul
    %li synchrotron microtomography
    %li segmentation
  .col-md-12
    = image_tag "segmentation_procedure.png"
  .col-md-12
    %small G. Lovrić et al., <i>Automated computer-assisted quantitative analysis of intact murine lungs at the alveolar scale</i>, in press 10.1371/journal.pone.0183979

%section
  %h3 Alveoli as spheres
  %ul
    %li fit spheres in the lung microstructures
    %li plot diameter distribution
  .col-md-6
    = image_tag "plos_thickness.png"
  .col-md-6
    = image_tag "size_pdf.png"
  .col-md-12
    %small G. Lovrić et al., <i>Automated computer-assisted quantitative analysis of intact murine lungs at the alveolar scale</i>, in press 10.1371/journal.pone.0183979

%section
  %h3 The final model
  %p sum over the sphere size distribution times the dark field response for each spere size
  .col-md-6
    %p ground truth
    = image_tag "size_pdf.png"
  .col-md-6
    %p dark-field response
    = image_tag "full_summary.png"
